.title{
    text-align: center;
    padding: 10px;
}

.text{
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

#buttonGroup{
    padding: 10px;
    text-align: center;
}

.icon{
    margin: 5px;
}